/*Flex Containers for each area*/
#container {
  display: flex;
  flex-direction: row;
  background-color: green;
  border: 5px solid red;
  align-items: center;
  justify-content: center;
}

#container-two {
; 
}

#container-three {
  display: flex;	
  background-color: red;
  flex-direction: row;
  border: 5px solid blue;
  justify-content: center;
  gap: 30px;
}

#container-four {
  display: flex;
  background-color: white;
  flex-direction: row;
}

#container-five {
  background-color: gray;
}

#container-six {
  background-color: white;
}

#container-seven {
  background-color: red;
}

#container-eight {
  background-color: black;
  color: white;
}
/* @media (max- will come back to this */
/*Individual Classes */

.gray-border {
  border: 5px solid gray;
}

.black-border {
  border: 5px solid black;
}

.img-hero {
  height: auto;
  max-width: 100%;
}
